textarea {
    font-family: Monospace;
    white-space: pre;
    resize: none;
    border: 0;
}

input[type=text] {
    padding: 5px;
    width: 60%;
    border: 0;
    border-bottom: 1px solid dodgerblue;
}

select.form-control {
    width: 15%;
    display: inline-block;
}

button {
    width: 9%;
}

span {
    color: crimson;
}

.form-container {
    margin-top: 70px;
}

p {
    padding: 15px;
}