textarea {
    font-family: Monospace;
    white-space: pre;
    resize: none;
    border: 0;
}

input[type=text] {
    padding: 5px;
    width: 650px;
    border: 0;
    border-bottom: 1px solid dodgerblue;
}

button{
    width: 90px;
}

select.form-control {
    padding: 5px;
    width: 145px;
    margin-left: 15%;
}

span {
    color: crimson;
}

.form-container {
    margin-top: 70px;
}

.button-container {
    margin-top: 3px;
    text-align: right;
}

p{
    padding: 15px;
}